* { 
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
 
}

.header {
  position: absolute;
  top: 0 ;
  width: 100%;
}

.container {
  display:flex;
  flex-direction: row;
  margin: 2rem;
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e06fef;
  border-radius: 8px;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}

#index{  
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
#imgastr{
  height: 60%;
  width: 40%;
  display:flex;
  margin: auto;
  padding: 15px;
}
.nav {
  background-color: #797575;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-flow: row;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0 1rem;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #ffba08;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #6a0572;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #c30052;
}
.container2{
  width: 90%;
  height: 70%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid rgb(65, 12, 117);
} 
.astronauta{
  border: 1px solid rgb(65, 12, 117);
  margin-top: 3em;
  background-color: antiquewhite;
  padding: 30px 40px 30px 40px;
}
input{
padding-left:50px;
margin: 50px;
}
#nombre{  margin-left: 10px; }
#edad{  margin-left: 30px; }
#rol{  margin-left: 42px; }
#casa{  margin-left: 25px;}
h1{
  display: flex;
  text-align: center;
}
section{
  display:flex;
  flex-flow: wrap;
}

.containerCard{ 
 display: flex;
  border: 2px solid rgb(65, 12, 117);
  padding: 40px;
  margin: 1%;
  justify-content: center;
  
}
.card-img-top{
  width: 100%;
  height: 90%;
}
.card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  border-radius: 10%;
  border: 1px solid rgb(65, 12, 117);
  margin: 5px;
  padding: 5px;
  background-color: rgb(249, 215, 170);
}

footer{
  background-color: #797575;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  position: fixed bottom;
  bottom: 0;
  width: 100%;
}
