<nav class="nav">
  <ul>
    <li><a href="/"> Home </a></li>
    <li><a href="/personajes/crear"> Cargar Astronautas </a></li>
    <li><a href="/personajes"> Astronautas </a></li>
    <li><a href="/nsaApi">Imagen del dia</a></li>
  </ul>
</nav>